@import "../../style/variable";
.hero {
  padding: 10% 5% 0;
  .heroContent {
    h2 {
      color: $text-color;
    }
  }

  .heroImg {
    img {
      display: block;
      margin: auto;
      max-width: 250px;
      width: 100%;
      object-fit: cover;
    }
  }
  .heroSnippetContainer {
    padding: 5em 1em;
  }
}
