@import "../../style/variable";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid $soft-color;
  .headerColor {
    height: 10px;
    background-color: $main-color;
  }
  .headerContent {
    padding: 0.5em 1em;
    h1 {
      font-size: 20px;
      color: $text-color;
    }
    nav {
      ul {
        display: flex;
        li {
          list-style: none;
          &:not(:last-child) {
            margin-right: 1em;
          }
          a {
            display: block;
            padding: 0 0.5em;
            font-size: 14px;
            color: $text-color;
            text-decoration: none;
            i {
              margin-right: 0.5em;
            }
            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
    background-color: $bg-color;
  }
}
