@import "./prismic_theme";
$imgSizes: 100, 90, 80, 70, 60, 50, 40, 30, 20, 10;

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: $bg-color;
  font-family: $main-font;
}

p {
  line-height: 28px;
  color: $text-color;
}

a {
  font-weight: bold;
  color: $main-color;
}

.beautiful-div {
  border: 2px solid $soft-color;
  border-radius: $main-radius;
  padding: 0 1em;
}

h1,
h2 {
  color: $text-color;
}
h2 {
  margin-top: 3em;
}

h3,
h4 {
  color: $main-color;
}

.code-basics {
  padding: 0.2em 0.5em;
  color: $bg-color;
  background-color: $second-color;
  border-radius: 0.5em;
}

@each $size in $imgSizes {
  .tuto-img-#{$size} {
    display: flex;
    $percent: unquote("%");
    > img {
      display: block;
      border-radius: $main-radius;
      margin: auto;
      width: #{$size}$percent;
      object-fit: cover;
      object-position: center;
    }
  }
}
