@import "../../style/variable";

.footer {
  background-color: $soft-color;
  padding: 3em 15%;
  margin-top: 3em;
  > div {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
