@import "../../style/variable";
.nav {
  ul {
    display: flex;
    li {
      list-style: none;
      &:not(:last-child) {
        margin-right: 1em;
      }
      a {
        display: block;
        padding: 0 0.5em;
        font-size: 14px;
        color: $text-color;
        text-decoration: none;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
